In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns',100)

In [7]:
df = pd.read_csv("C:\\Users\\GAURAV KUMAR\\Downloads\\BankChurners.csv")

In [ ]:
print(df.head())

DATA CLEANING

In [9]:
# Drop Irrelevant Columnns

cols_to_drop = ['CLIENTNUM','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']
df = df.drop(columns=cols_to_drop)

In [ ]:
# Create Numerical Target Variable: Churn( 1 = Attributed, 0 = Existing)

df['Churn'] = df['Attrition_Flag'].apply(lambda x:1 if x=='Attrited Customer' else 0)
df.drop(columns='Attrition_Flag')

In [22]:
print(df['Churn'].value_counts())

Churn
0    8500
1    1627
Name: count, dtype: int64

In [31]:
# Columns that use 'Unknown' for missing values

cat_cols_with_unknowns = ['Education_Level','Marital_Status','Income_Category']

#Replace Unknown with NaN
for col in cat_cols_with_unknowns:
    df[col]=df[col].replace('Unknown',np.nan)

# Fill the missing values with mode(Most frequent value)
for col in cat_cols_with_unknowns:
    mode_val = df[col].mode()[0]
    df[col]=df[col].fillna(mode_val)

In [32]:
# Checking the missing values in df

print(df.isnull().sum().sort_values(ascending=False).head())

Attrition_Flag     0
Customer_Age       0
Gender             0
Dependent_count    0
Education_Level    0
dtype: int64

In [33]:
print(df.head())

      Attrition_Flag  Customer_Age Gender  Dependent_count Education_Level  \
0  Existing Customer            45      M                3     High School
1  Existing Customer            49      F                5        Graduate
2  Existing Customer            51      M                3        Graduate
3  Existing Customer            40      F                4     High School
4  Existing Customer            40      M                3      Uneducated

  Marital_Status Income_Category Card_Category  Months_on_book  \
0        Married     $60K - $80K          Blue              39
1         Single  Less than $40K          Blue              44
2        Married    $80K - $120K          Blue              36
3        Married  Less than $40K          Blue              34
4        Married     $60K - $80K          Blue              21

   Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
0                         5                       1                      3
1                         6                       1                      2
2                         4                       1                      0
3                         3                       4                      1
4                         5                       1                      0

   Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  \
0       12691.0                  777          11914.0                 1.335
1        8256.0                  864           7392.0                 1.541
2        3418.0                    0           3418.0                 2.594
3        3313.0                 2517            796.0                 1.405
4        4716.0                    0           4716.0                 2.175

   Total_Trans_Amt  Total_Trans_Ct  Total_Ct_Chng_Q4_Q1  \
0             1144              42                1.625
1             1291              33                3.714
2             1887              20                2.333
3             1171              20                2.333
4              816              28                2.500

   Avg_Utilization_Ratio  Churn
0                  0.061      0
1                  0.105      0
2                  0.000      0
3                  0.760      0
4                  0.000      0

In [38]:
print(df.columns)

Index(['Customer_Age', 'Gender', 'Dependent_count', 'Education_Level',
       'Marital_Status', 'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Churn'],
      dtype='object')

In [37]:
df.drop('Attrition_Flag', axis=1, inplace=True)

In [42]:
# Average transaction value = Total Transaction amount/Total Number of Transactions

df['Total_Transaction_Value']=np.divide(df['Total_Trans_Amt'],df['Total_Trans_Ct'])
df.rename(columns={'Total_Transaction_Value':'Avg_Transaction_Value'},inplace=True)
print(df[['Total_Trans_Amt','Total_Trans_Ct','Avg_Transaction_Value']].head())

   Total_Trans_Amt  Total_Trans_Ct  Avg_Transaction_Value
0             1144              42              27.238095
1             1291              33              39.121212
2             1887              20              94.350000
3             1171              20              58.550000
4              816              28              29.142857

In [45]:
# New CSV File Created
df.to_csv('Final_Bank_Customers_Data.csv',index=False)